<h1>My to do list</h1>

<% @lists.each do |list| %>

   <div class='list'>

        <div class='list-item'>
          <%= list.title %>
             <span class='list-options'><%= link_to 'edit', edit_list_path(list) %></span>
             <span class='list-options'><%= link_to 'delete', list_path(list), method: :delete, confirm: 'are you sure?' %></span>
        </div>

        <div class="elements">

          <%= render 'elements/form', l: list %>

          <% list.elements.where(done: false).order('id desc').each do |element| %>
            <div class="todo">
              <%= element.todo %>
                <span class="todo-options"><%=  link_to 'done', done_element_path(element), method: :put, confirm: 'are u really done?' %></span>
                <span class="todo-options"><%= link_to 'delete', element_path(element), method: :delete, confirm: 'are u sure?' %> </span>
            </div>
          <% end %>

          <% list.elements.where(done: true).order('id desc').each do |element| %>
              <div class="list-element-done"><%= element.todo %></div>
          <% end %>

        </div>
   </div>

<% end %>

<div class='button'><%= link_to 'create a list', new_list_path, class: 'btn btn-success' %></div>
