<!DOCTYPE html>
<html>
<head>
  <title>MyFirstStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <%#= link_to image_tag('logo.png'), root_path, :class => 'brand' %>
    <ul class="nav">
      <li><%= link_to 'My to do lists', lists_path %></li>
      <li><%= link_to 'New list', new_list_path %></li>
      <li><%= link_to 'Completed tasks', history_lists_path %></li>
    </ul>
  </div>
</div>


<div class='container'>
  <div class="row">
    <div class="span12">

      <% if notice %>
          <p class='alert alert-success'><%= notice %></p>
      <% end %>

      <% if alert %>
          <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
